.khan__buy-link {
    top: 0;
    left: 0;
    text-decoration: none;
    margin-left: 48px;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2f80ed;
}

.khan__buy-link:hover {
    opacity: 0.4;
    transition: ease-in-out 0.3s;
}